
@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="alert alert-warning">
        <h2 class="display-4">soy la pagina clientes</h2>
    </div>
</div>

